@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --color1: #ec4668;
  --color2: #959595;
}
body {
    background-color: #dfdfdf;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 36px;
  font-weight: 600;
  color: var(--color1);
}
.subtitle {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.page-title-area {
  position: relative;
  margin-top: 36px;
}
.page-subtitle-area {
  position: relative;
  margin-top: 12px;
}
.page-subtitle-container {
  width: 500px;
  padding: 0 10px;
}
.team-member-area {
  position: relative;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 7px;
}
.team-member-item {
  background-color: white;
  margin: 5px 10px;
  padding: 5px 20px;
  border-radius: 7px;
  overflow: hidden;
  height: 440px;
}


.ava {
  margin: 12px auto;
}
.ava img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.5s;
  cursor: pointer;
}
.ava img:hover {
  transform: scale(1.08);
}
.job-title {
  font-size: 14px;
  color: var(--color2);
  font-weight: 400;
}
.name {
  font-size: 18px;
  color: var(--color1);
  font-weight: 600;
}
.snumber {
  font-size: 14px;
  color: var(--color2);
}
.background {
  margin-top: 6px;
}
.background-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
  transition: 0.2s;
  padding: 2px 5px;
}
.background-item i {
  color: var(--color1);
  margin-right: 10px;
}
.background-item:hover {
  box-shadow: 0 0 0 2px var(--color1);
  border-radius: 7px;
}
.it-interests-box {
  width: 100%;
  height: 60px;
  background-color: var(--color1);
  border-radius: 7px;
  color: white;
  padding: 5spx 10px;
  transition: 0.5s;
}
.it-interests-title {
  border: 1px solid white;
  border-radius: 7px;
  padding: 2px 5px;
  text-align: center;
}
.it-interests-box p {
  margin-left: 5px;
}
.it-interests-box:hover {
  background-color: #f66280;
}
